<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
  <link rel="stylesheet" href="{% static 'CSS/animate.min.css'%}">
  <script>
  var x=0;
function myFunction() {
 
 if(x==0){
  document.getElementById("myImg").style.height = "100px";
  document.getElementById("myImg").style.width = "100px";
   x=1;
   }
   else
   {
   document.getElementById("myImg").style.height = "0px";
  document.getElementById("myImg").style.width = "0px";
   x=0;
   }

}
</script>
</head>
<body>

<div class="container">
  <h2>Example</h2>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    list of colleges
  </button><br>
 <button type="button" onclick="myFunction()">Change height and width of image</button>


<div  >
 <img class="animated slideInDown zoomOut" src="download.png" id="myImg" height="0px" width="0px">
</div>


  <!-- The Modal -->
  <div class="modal animated slideInDown" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <img src="download.png">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

</body>
</html>
